<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
       <h1>Votaciones</h1>  
      </ion-col>
    </ion-row>

    <ion-list >
      <ng-container *ngIf="votes$ | async as votes">
         <ion-item class="item-thumbnail-left" *ngFor="let vote of votes"  (click)="goToVotation(vote.id)">
              <h3>{{vote.title}}</h3>
             <p>{{vote.status}}</p>
          </ion-item>
      </ng-container>
      <ion-item class="item-thumbnail-left"  (click)="goToVotation('1')">
        <h3>Presupuestos 2020</h3>
       <p>Abierta</p>
    </ion-item>
    <ion-item class="item-thumbnail-left"  (click)="goToVotation('1')">
      <h3>Estatutos </h3>
     <p>Cerrada</p>
  </ion-item>
  <ion-item class="item-thumbnail-left"  (click)="goToVotation('1')">
    <h3>Consejo de escuela </h3>
   <p>Cerrada</p>
</ion-item>
      </ion-list>
  </ion-grid>
</ion-content>
